name: "1 - Pipeline test"

on:
  push:
    branches:
      - "feature/**"

jobs:
  workfflow-test:
    uses: leandromoreirati/github-workflow/.github/workflows/tests.yaml@v1
    with:
      username: quadradinho
    secrets: inherit