name: "1 - Pipeline test"

on:
  push:
    branches:
      - "feature/**"
      - "develop"
      - "release/**"
      - "main"

jobs:
  workflow-test:
    uses: leandromoreirati/github-workflow/.github/workflows/tests.yaml@v1
    with:
      username: 'abacaxi'
    secrets: inherit